@page "/fetchdata"
@using System.Net.Http
@inject HttpClient Http

<h1>Choose Content:</h1>

<Button Type="primary" @onclick="@(() => LoadData("https://localhost:5021/topanime"))">Load Anime!</Button>
<Button Type="primary" @onclick="@(() => LoadData("https://localhost:5021/topmovie"))">Load Movies!</Button>
<p>This page demonstrates fetching data from the services.</p>

@if (dataSet == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Medium</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var show in dataSet)
            {
                <tr>
                    <td>@show.Title</td>
                    <td>@show.Media_type</td>
                    <td>@show.Release_date</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ShowDTO[] dataSet;
@*    private AnimeTopAiringDTO[] topAnimes;

    protected override async Task OnInitializedAsync() =>
        topAnimes = await Http.GetFromJsonAsync<AnimeTopAiringDTO[]>("https://localhost:5031/anime/popular");*@

    private async Task LoadData(string dataURL)
    {
@*        dataSet = null;*@
        dataSet = await Http.GetFromJsonAsync<ShowDTO[]>(dataURL); //Todo: Replace with dynamic URL
    }

    public class ShowDTO
    {
        public int Id { get; set; }
        public string Title { get; set; }
        public string Media_type { get; set; }
        public string Description { get; set; }
        public string Release_date { get; set; }
        public string Image_url { get; set; }
    }
}
