@page "/fetchdata"
@using System.Net.Http
@inject HttpClient Http
<h1>Choose Content:</h1>

<Button Type="primary" @onclick="@(() => LoadData("https://localhost:5021/topanime"))">Load Anime!</Button>
<Button Type="primary" @onclick="@(() => LoadData("https://localhost:5021/topmovie"))">Load Movies!</Button>
<p>This page demonstrates fetching data from the services.</p>

@if (dataSet == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Medium</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var show in dataSet)
            {
                <tr>
                    <td>@show.Title</td>
                    <td>@show.Media_type</td>
                    <td>@show.Release_date</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ShowDTO[] dataSet;

    private async Task LoadData(string dataURL)
    {
        dataSet = await Http.GetFromJsonAsync<ShowDTO[]>(dataURL); //Todo: Replace with dynamic URL
    }
}
