@page "/"
@inject HttpClient Http
@using MatchFlix_Frontend.Components.IconSection;
@inject NavigationManager NavigationManager
@inject MessageService message;
<div class="carousel">
    <div class="containerTop">
    <div class="navbar">
        <a>About</a>
        <a>FAQ</a>
        <a>Home</a>
    </div>
    <div class="bannerbase">
        <div class="texts">

            <h1 id="bannertitle">MatchFlix</h1>
            <Animate Animation="Animations.FadeRight" Easing="Easings.EaseInOutSine" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.5)" IsManual="false">
                <h2 id="bannerslogan">Match, Swipe, Watch</h2>
            </Animate>
        </div>
        <div class="matchbtn">
            <Button Shape="round" id="matchBtn" OnClick="ToSwiping">Match!</Button>
        </div>
    </div>
    <Carousel Autoplay="TimeSpan.FromSeconds(5)">
        <CarouselSlick>
            <image src="/images/MOANA.JPG"></image>
        </CarouselSlick>
        <CarouselSlick>
            <image src="/images/OP.JPG"></image>
        </CarouselSlick>
        <CarouselSlick>
            <image src="/images/PB.JPG"></image>
        </CarouselSlick>
        <CarouselSlick>
            <image src="/images/QB.JPG"></image>
        </CarouselSlick>
    </Carousel>
    </div>
</div>

<div class="iconSection">
    <Button Size="large" Ghost>
        <image src="/images/relationshipclr.png"></image>
        <p class="iconText">Match with friends and family</p>
    </Button>
    <Button Size="large" Ghost OnClick="ToSwiping">
        <image src="/images/swipeclr.png"></image>
        <p class="iconText">Swipe your favourite shows</p>
    </Button>
    <Button Size="large" Ghost>
        <image src="/images/watchingclr2.png"></image>
        <p class="iconText">Compare and watch your matched shows!</p>
    </Button>
</div>
<div class="matchSection">
    <div class="hostBox">
        <h1>Host</h1>
        <Search Placeholder="Your Name" Size="@InputSize.Large" EnterButton="@("Host")" @bind-Value="@hostName" OnSearch="PostHostRoom" Class="joinInput" />
    </div>
    <div class="joinBox">
        <h1>Join</h1>
        <Search Placeholder="Friend Code" Size="@InputSize.Large" EnterButton="@("Join")" @bind-Value="@txtJoinValue" OnSearch="OnSearch" Class="joinInput"/>
    </div>
</div>



@code{

    private string txtJoinValue { get; set; }
    private string hostName { get; set; }
    public string roomName { get; set; }

    private async Task PostHostRoom()
    {
        ReturnModel result = await Http.GetFromJsonAsync<ReturnModel>("https://localhost:5031/anime/host/" + hostName);
        ToHosting(result.name, result.roomName);
    }

    void ToHosting(string _hostName, string _roomName)
    {
        NavigationManager.NavigateTo("room" + "/" + _hostName + "/" + _roomName);
    }

    void ToSwiping()
    {
        NavigationManager.NavigateTo("swiping");
    }

    public async Task OnSearch()
    {
        await message.Loading($"Joining {txtJoinValue}", 2);
    }

    public class ReturnModel
    {
        public ReturnModel()
        {

        }
        public ReturnModel(string _name, string _roomName)
        {
            name = _name;
            roomName = _roomName;
        }
        public string name { get; set; }
        public string roomName { get; set; }
    }
}
